<app-navbar></app-navbar>
<app-side-navbar>
    <div class="student">
        <button *ngIf="selectedRowCount > 0" 
                mat-raised-button 
                class="student__delete" 
                color="warn"
                (click)="deleteStudent()">
                Delete Selected Students ({{ selectedRowCount }})
        </button>
        <button mat-raised-button 
                class="student__add" 
                color="primary"
                (click)="openAddStudentDialog()">
                Add Student
        </button>
    </div>
    <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (rowSelected)="updateSelectedRowCount()">
    </ag-grid-angular>
</app-side-navbar>