<app-side-navbar>
    <app-navbar></app-navbar>
    <div class="enrollment">
        <app-search-filter [filters]="filters" c
                            lass="course__filter"
                            (query)="onSearchQuery($event)">
        </app-search-filter>
        <div class="enrollment__button">
            <button *ngIf="selectedRowCount > 0" 
                    mat-raised-button 
                    class="enrollment__button__delete" 
                    color="warn"
                    (click)="deleteEnrollment()">
                    <mat-icon>delete</mat-icon>
                    Delete Selected Enrollment ({{ selectedRowCount }})
            </button>
            <button mat-raised-button 
                    class="enrollment__button__add" 
                    color="primary"
                    (click)="openAddEnrollmentDialog()">
                    <mat-icon>add</mat-icon>
                    Enroll Student
            </button>
        </div>
        
    </div>
    <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (rowSelected)="updateSelectedRowCount()">
    </ag-grid-angular>
</app-side-navbar>