<h2 mat-dialog-title>Add Course</h2>
<mat-dialog-content class="dialog">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="dialog__form">
        <mat-form-field appearance="outline" class="dialog__form__field">
            <input matInput placeholder="Student ID" formControlName="studentID">
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <input matInput placeholder="Course Title" formControlName="studentName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <input matInput placeholder="Major" formControlName="major">
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>