<h2 mat-dialog-title>Add Student</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="dialog">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="dialog__form">
        <mat-form-field appearance="outline" class="dialog__form__field">
            <mat-label>Student Name</mat-label>
            <input matInput placeholder="Course Title" formControlName="studentName">
            <mat-error *ngIf="studentForm.controls['studentName'].hasError('required')">
                Student Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
          <mat-label>Major</mat-label>
          <mat-select formControlName="major">
            <mat-option value="Physics">Physics</mat-option>
            <mat-option value="Math">Math</mat-option>
            <mat-option value="Computer Science">Computer Science</mat-option>
            <mat-option value="Chemistry">Chemistry</mat-option>
            <mat-option value="None">None</mat-option>
          </mat-select>
          <mat-error *ngIf="studentForm.controls['major'].hasError('required')">
            Major is <strong>required</strong>
          </mat-error>
      </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="student">Student</mat-option>
              <mat-option value="advisor">Advisor</mat-option>
              <mat-option value="registrar">Registrar</mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['role'].hasError('required')">
              Role is <strong>required</strong>
            </mat-error>
        </mat-form-field>
          
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="onSubmit()">Create</button>
</mat-dialog-actions>