.course {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 12px;

    &__options {
        
        &__extended {
            display: flex;
            justify-content: end;
            align-items: end;
            margin-bottom: 12px;
        }

        &__action {
            &--edit {
                margin-right: 12px;
            }

            &--delete {
                margin-right: 12px;
            }
        }
    }
}