.sidenav {
    height: 100%;
    &__drawer {
        width: 220px;
        
        button {
            display: flex;
            justify-content: start;
            padding-left: 44px;
            width: 100%;
            height: 50px;
        }
    }

    &__content {
        background-color: white;
    }
}