<h2 mat-dialog-title>Add Enrollment</h2>
<mat-dialog-content class="dialog">
    <form [formGroup]="enrollmentForm" (ngSubmit)="onSubmit()" class="dialog__form">
        <mat-form-field appearance="outline" class="dialog__form__field">
            <mat-label>Student ID</mat-label>
            <input matInput placeholder="Student ID" formControlName="studentID">
            <mat-error *ngIf="enrollmentForm.controls['studentID'].hasError('required')">
                Student ID is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="dialog__form__field">
            <mat-label>Course ID</mat-label>
            <input matInput placeholder="Course ID" formControlName="courseID">
            <mat-error *ngIf="enrollmentForm.controls['courseID'].hasError('required')">
                Course ID is <strong>required</strong>
            </mat-error>
            
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>